body {
    background-image: url("https://data.whicdn.com/images/257373471/large.jpg")
}

h1 {
    font-family: 'Permanent Marker', cursive;
}
.trivOverlay{
    font-family: 'Luckiest Guy', cursive;
    background:white;
    text-align: center;
    border: 3px solid #ed1d24;
    border-radius: 12px;
    width: 50%;
    height: 100%;
    margin-left: 10%; 
    position: relative;
    float: left;

}
.sideOnemaster{
    float: left;
}
.sideOne{
    margin-bottom: 15px;
    
}
img {
    border: 3px solid #ed1d24;
    border-radius: 12px;
}
