body {
    background-image: url("https://data.whicdn.com/images/257373471/large.jpg")
}

h1 {
    font-family: 'Permanent Marker', cursive;
}
.trivOverlay{
    font-family: 'Luckiest Guy', cursive;
    background:white;
    text-align: center;
    border: 3px solid #ed1d24;
    border-radius: 12px;
    width: 50%;
    height: 1370px;
    margin-left: 10%; 
    float: left;

}
.hidden{
    display: none;
}
.button {
    background-color: #ed1d24; 
    font-family: 'Permanent Marker', cursive;
    border: none;
    border-radius: 12px;
    color: white;
    margin-top: 50px;
    padding: 30px 64px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 22px;
  }
  
.sideOnemaster{
    float: left;
}
.sideOne{
    margin-bottom: 15px;
    
}
.sideTwomaster{
    float: right;
}
.sideTwo{
    margin-bottom: 15px;
}
img {
    border: 3px solid #ed1d24;
    border-radius: 12px;
}
